/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#title {
  font-size: 300%;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  background-color:gold;
  box-shadow: 0 0 20px;
  border-radius: 20px;
  max-width: 700px;
}

.letter_card {
  background-color: green;
  color: white;
  border-radius: 5px;
  /* display: flex; */
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 200%;
  margin: 10px;
  box-shadow: 2.5px 2.5px 5px;
}

.answer_box {
  margin: 50px;
  text-align: center;
}
